<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculador HD</title>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
</head>

<body>
    <div id="maincontainer" class="m-4">

        <div class="mt-3">

            <div class="numeracion">1</div>
            <label class="mr-1 " for="btnseleccionar"> Seleccionar los archivos a tratar:</label>
            <button id="btnseleccionar" class="btn btn-primary btn-sm" onclick="fileChooser()">Seleccionar
                archivos</button>
        </div>
        <div class="mt-3">
            <div class="numeracion">2</div>
            <label class="mr-1 " for="btnsalida"> Seleccionar donde desea guardar los documentos generados:</label>
            <button id="btnsalida" class="btn btn-primary btn-sm" onclick="folderChooser()">Seleccionar carpeta</button>
        </div>
        <form class="mt-3" action="" onsubmit="event.preventDefault();">

            <div class="numeracion">3</div>
            <label>Seleccionar los archivos a generar :</label>
            <div class="mt-2 ps-5">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="horarios">
                    <label class="form-check-label" for="horarios">horarios</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input " type="checkbox" value="" id="diarios">
                    <label class="form-check-label" for="diarios">diarios</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="octohorarios">
                    <label class="form-check-label" for="octohorarios">octohorarios</label>
                </div>
            </div>
            <button class="btn btn-success btn-sm m-1 mt-3" id="btnGenerar" onclick="generar()">Generar</button>

        </form>
        <hr>
        <div>

            <h2>Importante</h2>
            <ul>
                <li>Los archivos deben estar nombrados con las palabras <strong>"quinceminutales"</strong> u
                    <strong>"horarios"</strong> para que el programa pueda distinguir los datos a tratar"
                </li>
                <li>El nombre debe estar separado por guiones bajos o guiones medios</li>
            </ul>
            <img src="../assets/imgs/example.png" class="border border-primary" alt="ejemplo de nombres">
            <ul>
                <li>Los datos que hay dentro del archivo deben tener la primera columna que sea la "fecha hora", los
                    datos separados por ";" y los decimales separados por ",". Recordar que para los
                    octohorarios necesitamos 1 día extra de datos para realizar los cálculos.</li>
            </ul>
            <img src="../assets/imgs/example2.png" class="border border-primary" alt="ejemplo de contenido">

        </div>

    </div>
</body>
<script>

    const { dialog } = require('electron').remote
    const utils = require('../assets/js/utils.js');    
    const createCsvWriter = require('csv-writer').createObjectCsvWriter; // movido a utils //TODO: ver si hace falta y si lo tenemos que borrar de utils
    const fs = require('fs');




    let fileList = null; // donde vamos a almacenar los archivos seleccionados   
    let filesData = null;  // donde guardamos los nombres de los archivos, ruta y contaminante
    let contaminantes = null; // aquí es donde guardamos todos los datos fusionados por contaminantes.   
    let outputDir = null; // url de la carpeta de salida

    // selecciona los archivos a tratar
    function fileChooser() {

        let selected = dialog.showOpenDialogSync({
            title: 'Seleccionar archivos',
            properties: ['openFile', 'multiSelections'],
            filters: [
                { name: 'texto', extensions: ['txt'] },
                { name: 'csv', extensions: ['csv'] }
            ]
        })

        if (selected != undefined) {
            fileList = selected;
        }
    }
    // selecciona la carpeta donde guardar el output
    function folderChooser() {

        let selected2 = dialog.showOpenDialogSync({
            title: 'Seleccionar carpeta',
            properties: ["openDirectory"]
        })

        if (selected2 != undefined) {
            outputDir = selected2;
        }
    }

    // genera los documentos 
    function generar() {

        if (!fileList || !outputDir) {

            dialog.showErrorBox("Error", "Debe haber seleccionado los archivos de entrada y la carpeta de salida")

        } else {

            let horarios = document.getElementById('horarios').checked;
            let diarios = document.getElementById('diarios').checked;
            let octohorarios = document.getElementById('octohorarios').checked;

            // ======================================= LECTURA Y CALCULOS DE DATOS =====================================================

            /* Aquí cogemos la lista de archivos y creamos una lista de objetos donde hemos extraido
            el nombre, el tipo, los datos, etc.. */
            filesData = utils.extractFiles(fileList);

            //Ahora vamos a dividir las columnas porque en los archivos vienen junto los valores y las flags.
            filesData.forEach(file => {
                utils.splitColumns(file);
            });



            // Ahora vamos a extraer los quinceminutales y transformarlos a horarios
            // Aqui extraemos los archivos 15minutales
            let files15m = filesData.filter(file => file.type == "quinceminutales");
            if (files15m.length > 0) { // si tenemos archivos 15 minutales

                // Aqui pasamos los 15minutales a horarios.
                utils.transform15mTo60m(files15m) // No necesitamos guardar los datos retornados porque los cambios ya han sido aplicados a los datos originales
            }


            /* Ahora debemos fusionar todos los datos horarios para tener todos los horarios 
            en un mismo fichero pero clasificados por contaminantes..*/
            let datosHorarios = utils.mergeFilesByKeys(filesData);
            console.log('datosHorarios :>> ', datosHorarios);

            let datosDiarios = utils.horarioADiario(datosHorarios);
            console.log('datosDiarios :>> ', datosDiarios);

            let datosOctohorarios = utils.horaAOcto(datosHorarios);
            console.log('datosOctohorarios :>> ', datosOctohorarios);



            // ======================================ESCRITURA DE DATOS A FICHEROS ====================================================

            // grabación de datos horarios
            datosHorarios.forEach(contaminante => { //TODO: agregar este ejemplo a los apuntes
                let header=[]

                for (const [key, value] of Object.entries(contaminante.data[0])) {
                            header.push({ id: `${key}`, title: `${key}` })

                        }

                const csvWriter = createCsvWriter({
                    path: `${outputDir}\\${contaminante.key}_horario.csv`,
                    header,
                    fieldDelimiter: ';'
                });
                csvWriter.writeRecords(contaminante.data)       // returns a promise
                    .then(() => {
                        console.log(`${contaminante.key}_horario.csv -- Escrito --`);
                    });



            });






            /* // TODO: REDISEÑAR A PARTIR DE AQUI . No mirar el código que hay a parti de aquí porque se va a rehacer.================================================

                    

                        // ------------------------------- ESCRITURA --------------------------------------
                        // cabeceras generales usadas en la configuración de csv-writer
                        let header = [];
                        for (const [key, value] of Object.entries(results[1])) {
                            header.push({ id: `${key}`, title: `${key}` })

                        }
                        let csvWriter = null;
                        //-------------------

                        // cabecera modificada para datos diarios. Se ha quitado la columna de "hora" 
                        let headerD = [...header];
                        headerD.splice(1, 1);


                        // escribimos el archivo
                        if (type == 'quinceminutales') { // si los ficheros son de tipo quinceminutales

                            //miramos que opciones a seleccionado el usuario para imprimir
                            if (horarios == true) {
                                // Quinceminutal a horario
                                csvWriter = utils.getCreateCsvWriter(`${outputDir}\\${file.name}A_horario.csv`, header);
                                csvWriter.writeRecords(dataH).then(() => console.log(`${file.name}A_horario.csv grabado`));
                            }

                            if (diarios == true) {
                                // horario a diario
                                csvWriter = utils.getCreateCsvWriter(`${outputDir}\\${file.name}A_Diario.csv`, header);
                                csvWriter.writeRecords(dataD).then(() => console.log(`${file.name}A_Diario.csv grabado`))
                            }

                            if (octohorarios == true) {
                                // Quinceminutal a octoHorario
                                csvWriter = utils.getCreateCsvWriter(`${outputDir}\\${file.name}A_octoHorario.csv`, header);
                                csvWriter.writeRecords(dataO).then(() => console.log(`${file.name}A_octoHorario.csv grabado`));
                            }

                        } else if (type == 'horarios') { // si los ficheros son de tipo horario

                            if (diarios == true) {
                                // horario a diario
                                csvWriter = utils.getCreateCsvWriter(`${outputDir}\\${file.name}A_Diario.csv`, header);
                                csvWriter.writeRecords(dataD).then(() => console.log(`${file.name}A_Diario.csv grabado`));
                            }

                            if (octohorarios == true) {
                                // horarios a octoHorario
                                csvWriter = utils.getCreateCsvWriter(`${outputDir}\\${file.name}A_octoHorario.csv`, header);
                                csvWriter.writeRecords(dataO).then(() => console.log(`${file.name}A_octoHorario.csv grabado`));
                            }

                        }
                        //limpiamos el array
                        results = [];

                    });
            }); */
        }
        alert("Finalización de creación de archivos")
    } // fin función "generar".



</script>
<style>
    .numeracion {
        background-color: #f4ff9d;
        border-radius: 42px;
        border: 2px solid #868686;
        display: inline-block;
        padding: 3px 9px;
        color: #535353;
        font-family: Arial;
        font-size: 14px;
        font-weight: bold;
        text-decoration: none;
    }
</style>

</html>